{% extends 'shopapp/base.html' %}
{% load cache %}

{% block title %}
  Orders list
{% endblock %}

{% block body %}
  <h1>Orders created by user: {% firstof owner.first_name owner.username %}</h1>

    {% cache 100 object_list owner %}
        {% if object_list %}
        <div>
        {% for order in object_list %}
           <div>
             <p><a href="{% url 'shopapp:view_orders' pk=order.pk %}"
             >Details №{{ order.pk }}</a></p>
             <p>Order by: {% firstof order.user.first_name order.user.username %}</p>
             <p>Promocode: <code>{{ order.promocode }}</code></p>
             <p>Delivery address: {{ order.delivery_address }}</p>
             <div>
               Product in order:
               <ul>
                 {% for product in order.products.all %}
                   <li>{{ product.name }} for ${{ product.price }}</li>
                 {% endfor %}
               </ul>
             </div>
           </div>
        {% endfor %}
        </div>
        {% else %}
            <h3>User {% firstof owner.first_name owner.username %}  has not yet created any orders</h3>
        {% endif %}
    {% endcache %}

{% endblock %}