{% extends 'shopapp/base.html' %}

{% block title %}
  Uses list
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
  <h1>Users:</h1>
    {% if users %}
    <div>
    {% for user in users %}
      <div>
        <p><a href="{% url 'myauth:profile-details' pk=user.pk %}">{{ user.pk }}) Name: {{ user.username }}</a></p>

        {% if user.profile.avatar %}
          <img width="100" src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}">
        {% endif %}
      </div>
    {% endfor %}

    </div>

  {% else %}
    <h3>No Users</h3>
  {% endif %}

{% else %}
  <h2>User is anonymous</h2>
  <div>
    <a href="{% url 'myauth:login' %}">Users login</a>
  </div>
{% endif %}
{% endblock %}
